venv/
.venv/
.pytest_cache/
__pycache__/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
build/
dist/
*.py[cod]
*.egg-info/
*.pyo
*.pyd
*.log
.DS_Store
.idea/
.vscode/
.ipynb_checkpoints/
